* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    height: 100vh;
    position: fixed;
    background: #122143;
    overflow: hidden;
}
    .navbar h1 {
        margin: 20px 0;
        cursor: pointer;
        padding: 20px 0;
    }
    .navbar a {
        margin: 20px 0;
        cursor: pointer;
        padding: 20px 0;
        color: white;
        text-decoration: none;
    }


.active {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}
.nav a.inactive:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}
.mainPage {
    position: relative;
    left: 20%;
    width: 80%;
}

.heading {
    padding-top: 2rem;
    margin: 0 2rem;
    margin-left: 6rem;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.userData {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
    position: inherit;
    left: 20%;
    width:60%;
    height: 80vh;
    margin-top: 5rem;
}

.bioHeading {
    width: 40%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    padding-bottom: 10px;
    padding-top: 2rem;
    margin-left: 20px;
}
.bio {
    margin-left: 5%;
    margin-top: 2rem;
    font-size: medium;
    font-weight: bolder;
}


    .bio p {
        margin: 2rem 0;
        ;
    }

.bioValues {

}

.navbarValues:hover {
    color: burlywood;
    transition: ease;
}


